//add, prune, adjust as necessary
$body-bg: #FCFCFC; //off white grey
$txt-primary: #888888; //dark grey

$link: blue; //bright blue

$accent: #0068b3 ; //middle blue
$accent-dark: #094997; //darker blue
$accent-vibrant: #cc0000; //darkish red
$accent-light: #0066cc; //slightly brighter blue

$accent-bright: #00a9df; //light, bright blue
$accent-superbright:#ffcc00; //yellow

$border-light: #d0d0d0;  //light gray
$dark-ground: #2f2f2f; //dark gray

$black: #333333;  //black - well, actually a very dark grey
$white: #ffffff;  //white