////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

//this controls practically all spacing through the site. edit with care
$spacing: 1em;

$duration: .2s;

$radius: .5em;

$psize: 1.4em;

$sans-serif: Helvetica, Arial, Verdana, sans-serif;

$accent-sans: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;

$serif: Palatino, Georgia, 'Times New Roman', serif;