////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

//this controls practically all spacing through the site. edit with care
$spacing: 1em;

$radius: .5em;
$duration: 0.3s; //for CSS animations

$base-size: 16;
$psize: 1em;


//the major breakpoints used - I like citrus fruit
$lemon: 30em; //480px
$orange: 45em; //624px
$grapefruit: 60em;  //960px
$pomelo: 80em; //1280px

//site max width
$max-width: 140em;

//site min width
$min-width: 96em;

//font stacks
$sans-serif:  Helvetica, Arial, Verdana, sans-serif;
$serif: Georgia, 'Times New Roman', serif;
$mono: 'Courier New', Courier, mono;

// $icons:
//$icon-font: "ms2013";


//borders
$border: solid 1px $border-light;
$border-thick: solid 6px $border-light;